/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 20px;
    font-size: 1.6rem;
    background-color: green;
}

/* classes */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: right;
    border: 1px solid #000;
}

h1 {
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.container .question {
    width: 100%;
    margin: 10px 0;
}

.container .question .input {
    width: 100%;
    padding: 10px;
}

span.item {
    width: 100%;
    display: inline-block;
}

.container #btn {
    width: 100%;
    padding: 10px;
    font-size: 25px;
}
