body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: auto;
}

section {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.language-label {
    font-size: 18px;
    color: #0077aa;
    margin-bottom: 10px;
}

.section-title {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    flex: 1;
    font-size: 16px;
    color: #444;
}

.input {
    width: 150px;
    padding: 5px;
    font-size: 14px;
}

.controllers {
    margin: auto;
    width: 800px;
}

.controllers button {
    width: 100%;

    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-radius: 10px;

    font-size: 25px;

    cursor: pointer;
}

.controllers button:hover {
    opacity: 0.7;
}

.controllers #save {
    background-color: green;
    color: #fff;
}

.controllers #clear {
    background-color: red;
    color: #fff;
}

.controllers #export {
    background-color: dodgerblue;
    color: #fff;
}