* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 20px;

    font-family: Arial, sans-serif;
    font-size: 16px;

    background-color: #f5f5f5;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 75px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.floor {
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 30px;
}

.floor .floor-title {
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: dodgerblue;
}

.floor .sections {
    margin: 20px 0;
}

.floor .sections .section-title {
    display: inline-block;
    margin: 10px auto;
    margin-right: 38%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #f70974;
}

.floor .sections .divisions {
    padding: 10px;
}

.floor .sections .divisions .division .division-title {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    background: #000;
    color: #f4f4f4;
}

.floor .sections .divisions .division .division-questions .division-question {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.floor .sections .divisions .division .division-questions .division-question .input {
    width: 100px;
}

.floor .sections .divisions .division .division-questions .division-question .label {
    font-size: 35px;
}

.controllers {
    margin: auto;
    width: 800px;
}

.controllers button {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

.controllers button:hover {
    opacity: 0.7;
}

.controllers #save {
    background-color: green;
    color: #fff;
}

.controllers #clear {
    background-color: red;
    color: #fff;
}

.controllers #export {
    background-color: dodgerblue;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .floor .floor-title {
        font-size: 66px;
    }

    .floor .sections .section-title {
        font-size: 45px;
    }

    .floor .sections .divisions .division .division-title,
    .floor .sections .divisions .division .division-questions .division-question .label {
        font-size: 40px;
    }

    .floor .sections .divisions .division .division-questions .division-question {
        flex-direction: column;
        margin-bottom: 66px;
    }

    .floor .sections .divisions .division .division-questions .division-question .input {
        width: 100%;
        font-size: 50px;
        border-radius: 13px;
        padding: 20px 10px;
    }
}

@media screen and (min-width: 1200px) {
    .sidebar {
        width: 250px;
    }
}